QWidget{
    background-color: #363636;
}

QPushButton {
    border: 2px solid #8f8f91;
    border-radius: 6px;
    background-color: #424242;
}

QLabel#headline {
    font-size: 15;
    font-weight: bold;
    color: black;
}

QLabel {
    color: gray;
    font-size: 50;
}

QPushButton:hover {
    background-color: #525252;
}

QPushButton#on_button:hover {
    background-color: darkgreen;
}

QPushButton#off_button:hover {
    background-color: darkred;
}

QSlider::groove:horizontal {
    border: 2px solid black;
    border-radius: 6px;
    height: 8px;
    background: gray;
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: darkcyan;
    border: 2px solid #363636;
    width: 18px;
    margin: 10px 5;
    border-radius: 2px;
}

QSlider::handle:horizontal:hover {
    color: cyan;
}
