QWidget {
    background-color: #363636;
}

QFrame#headline {
    font-size: 15;
    font-weight: bold;
    color: black;
}

QFrame {
    font-weight: bold;
    font-size: 13;
    color: gray;
}

QPushButton {
    background-color: #424242;
    color: gray;
    border: 1px solid black;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #525252;
}

QPushButton#on_button:hover {
    background-color: darkgreen;
}

QPushButton#off_button:hover {
    background-color: darkred;
}

QPushButton#on_button_activated {
    background-color: darkred;
}

QPushButton#off_button_activated {
    background-color: darkgreen;
}

QSlider::groove:horizontal {
    background-color: #424242;
    color: gray;
    border: 1px solid black;
    border-radius: 5px;
    height: 10px;
}

QSlider::handle:horizontal {
    background: darkcyan;
    border: 1px solid #363636;
    width: 18px;
    margin: 0px;
    border-radius: 3px;
}

QLineEdit {
    background-color: #424242;
    color: gray;
    border: 1px solid black;
    border-radius: 5px;
}
